body {
	
	
	font-family: Century Gothic, Arial;
	margin: 0 auto;
	
	
}
#map {
        height: 300px;
        width: 50%;
		margin: 0 auto 0 auto;
       }

header{
	font-size: 35px;
	color: #444444;
	margin: 20px;
}
canvas {
	border: 5px solid black;
	margin: 5px;
	}



.menuBar {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	background-color: #66CCFF;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #555555;
	word-spacing: 40px;
	padding: 10px;
}

.menuBar a{
	color: #000000;
	text-decoration: none;
}

.menuBar a:hover{
	background-color: #FFFFFF;
	padding: 10px;
}

.form1{
	



}
table{
	 border: 5px solid grey;
	 
	 
}
td, th {
	border: 1px solid grey;

}

td{
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 0px;
}

input[type=text], select{
	width: 50%;
	
	padding: 10px 18px;
	margin: 5px 0;
	display: inline-block;
	border: 2px solid black;
	box-sizing: border-box;
}

input[type=date], select{
	width: 50%;
	
	padding: 10px 18px;
	margin: 5px 0;
	display: inline-block;
	border: 2px solid black;
	box-sizing: border-box;
}

input[type=password], select{
	width: 50%;
	
	padding: 10px 18px;
	margin: 5px 0;
	display: inline-block;
	border: 2px solid black;
	box-sizing: border-box;
}


input[type=submit]{
	width: 20%;
	background-color: white;
	padding: 12px 18px;
	margin: 8px 0;
	border: 2px solid black; 
	transition-duration: 0.4s;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #444444;
	color: white;
	
}

input[type=reset]{
	width: 20%;
	background-color: white;
	padding: 12px 18px;
	margin: 8px 0;
	border: 2px solid black; 
	transition-duration: 0.4s;
	cursor: pointer;
}

input[type=reset]:hover{
	background-color: #444444;
	color: white;
	
}





table{
	border-collapse: collapse;
}



table, td, th{
	border: 1px solid black;
	text-align: center;
}

.data label{
	text-align: left;
}




.button{
	background-color: white;
	border: 2px solid black; 
	padding: 7px 12px;
	cursor: pointer;
	transition-duration: 0.4s;
	
}

.button:hover{
	background-color:#444444;
	color: white;
	
	
}
